/Blog/TagDispatch/priority
/Blog/TagDispatch/priority_raw
/Blog/TagDispatch/sfinae_fix
/Blog/TagDispatch/static_if
/Blog/TagDispatch/tag_usual
*~
**/build/
**/*.html
/Blog/MinMax_Ruminations/minMax_ruminations.pdf
/Blog/MinMax_Ruminations/minMax_ruminations.tex
/Blog/MinMax_Ruminations/test.png
/Blog/OrgMode/JuliaGnuplotMathematica.pdf
/Blog/OrgMode/JuliaGnuplotMathematica.tex
/Blog/NLS/nls.pdf
/Blog/NLS/nls.tex
/Blog/Kunisch/kunisch.aux
/Blog/Kunisch/kunisch.fdb_latexmk
/Blog/Kunisch/kunisch.fls
/Blog/Kunisch/kunisch.html
/Blog/Kunisch/kunisch.log
/Blog/Kunisch/kunisch.pdf
/Blog/Kunisch/test.png
/Archive/Draft/FreeBookLinks/freeBookLinks.html
/Blog/Kunisch/.juliahistory
/Archive/Draft/MinMax_Ruminations/file.png
/Archive/Draft/MinMax_Ruminations/libjaccard.so
/Archive/Draft/MinMax_Ruminations/minMax_ruminations.html
/Archive/Draft/DirectConv/.juliahistory
/Archive/Draft/MinMax_Ruminations/output.png
/Archive/Draft/MinMax_Ruminations/test.jl
/Blog/MinMax/minMax.html
/Blog/MinMax/output.png
/Blog/SG/sg.html
/Blog/SG/smoothed.png
/Blog/SG/smoothed_d1.png
/Blog/SG/smoothed_d2.png
/Archive/Draft/DirectConv/P_func.png
/Archive/Draft/DirectConv/T_func.png
/Archive/Draft/DirectConv/directConv.html
/Archive/Draft/DirectConv/latex-test.png
/Archive/Draft/OrgMode/P_func.png
/Blog/SG/.html
/Blog/SG/.juliahistory
/Blog/SG/latex-logo.png
/Blog/SG/sample.txt
/Blog/SG/sg_coef.png
/Blog/SG/toto_P_func.png
/Blog/DirectConv/latex-test.png
