/Blog/TagDispatch/priority
/Blog/TagDispatch/priority_raw
/Blog/TagDispatch/sfinae_fix
/Blog/TagDispatch/static_if
/Blog/TagDispatch/tag_usual
*~
**/build/
/Blog/CSV_Bash/cleaned_insurance.csv
/Blog/CSV_Bash/cleaned_tricky.csv
/Blog/CSV_Bash/combined.csv
/Blog/CSV_Bash/csv_bash.html
/Blog/MinMax_Ruminations/example1.png
/Blog/MinMax_Ruminations/file.png
/Blog/MinMax_Ruminations/minMax_ruminations.html
/Blog/MinMax_Ruminations/minMax_ruminations.pdf
/Blog/MinMax_Ruminations/minMax_ruminations.tex
/Blog/MinMax_Ruminations/test.png
/Blog/OrgMode/JuliaGnuplotMathematica.html
/Blog/OrgMode/JuliaGnuplotMathematica.pdf
/Blog/OrgMode/JuliaGnuplotMathematica.tex
/Blog/OrgMode/file.png
/Blog/OrgMode/latex-logo.png
/Blog/OrgMode/output.png
/Blog/NLS/nls.html
/Blog/NLS/nls.pdf
/Blog/NLS/nls.tex
/Blog/FreeBookLinks/freeBookLinks.html
/Blog/Kunisch/kunisch.aux
/Blog/Kunisch/kunisch.fdb_latexmk
/Blog/Kunisch/kunisch.fls
/Blog/Kunisch/kunisch.html
/Blog/Kunisch/kunisch.log
/Blog/Kunisch/kunisch.pdf
/Blog/Kunisch/test.png
/Archive/Draft/FreeBookLinks/freeBookLinks.html
/Blog/Kunisch/.juliahistory
/Archive/Draft/MinMax_Ruminations/file.png
/Archive/Draft/MinMax_Ruminations/libjaccard.so
/Archive/Draft/MinMax_Ruminations/minMax_ruminations.html
/Archive/Draft/DirectConv/.juliahistory
/Archive/Draft/MinMax_Ruminations/output.png
/Archive/Draft/MinMax_Ruminations/test.jl
/Blog/MinMax/minMax.html
/Blog/MinMax/output.png
