/Blog/TagDispatch/priority
/Blog/TagDispatch/priority_raw
/Blog/TagDispatch/sfinae_fix
/Blog/TagDispatch/static_if
/Blog/TagDispatch/tag_usual
*~
**/build/
/Blog/CSV_Bash/cleaned_insurance.csv
/Blog/CSV_Bash/cleaned_tricky.csv
/Blog/CSV_Bash/combined.csv
/Blog/CSV_Bash/csv_bash.html
/Blog/MinMax_Ruminations/example1.png
/Blog/MinMax_Ruminations/file.png
/Blog/MinMax_Ruminations/minMax_ruminations.html
/Blog/MinMax_Ruminations/minMax_ruminations.pdf
/Blog/MinMax_Ruminations/minMax_ruminations.tex
/Blog/MinMax_Ruminations/test.png
/Blog/OrgMode/JuliaGnuplotMathematica.html
/Blog/OrgMode/JuliaGnuplotMathematica.pdf
/Blog/OrgMode/JuliaGnuplotMathematica.tex
/Blog/OrgMode/file.png
/Blog/OrgMode/latex-logo.png
/Blog/OrgMode/output.png
